.checkbox{
    visibility: hidden;
}
#cancelCheckout{
    visibility: hidden;
}
.enterQuantity{
    visibility: hidden;
}
table,th,td{
    border:1px solid black;
    font-size: 15px;
    text-align: center;
    

}
td{
    padding:1%;
    width: 10%;
}